PORT=5000
NODE_ENV=development
FIREBASE_SERVICE_ACCOUNT=./responza-a8c58-firebase-adminsdk-fbsvc-6234af2a04.json

# Production Firebase Admin Configuration (Alternative to service account file)
FIREBASE_PROJECT_ID=responza-a8c58
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@responza-a8c58.iam.gserviceaccount.com
# Provide the private key value enclosed in quotes with escaped newlines (\n)
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
