# Dependencies
node_modules/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS Metadata
.DS_Store
Thumbs.db

# Firebase Service Account
responza-a8c58-firebase-adminsdk-fbsvc-6234af2a04.json
